--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0+cu124
torchvision==0.21.0+cu124
timm==1.0.19

-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12]==0.5.3
genjax==0.10.3
tensorflow-probability==0.23.0

numpy==1.26.4
scipy==1.16.2
scikit-learn==1.6.1
scikit-image==0.25.2
opencv-python==4.11.0.86
Pillow==11.3.0
matplotlib==3.10.6
imageio[ffmpeg]==2.37.0
tqdm==4.67.1
